<template>
  <section class="todoapp">
      <header class="header">
          <h1>todos</h1><input class="new-todo" placeholder="What needs to be done?" autofocus="autofocus" />
      </header>
      <section class="main"><input class="toggle-all" id="toggle-all" type="checkbox" :checked="true" /><label for="toggle-all"></label>
          <ul class="todo-list">
              <li class="completed">
                  <div class="view"><input class="toggle" type="checkbox" checked="checked" /><label>可以新增待辦事項</label><button class="destroy"></button></div>
              </li>
              <li class="editing">
                  <div class="view"><input class="toggle" type="checkbox" /><label>可以編輯待辦事項</label><button class="destroy"></button></div><input class="edit" value="編輯中..." />
              </li>
          </ul>
      </section>
      <footer class="footer"><span class="todo-count"><strong>1</strong><span>&nbsp; item left</span></span>
          <ul class="filters">
              <li><a class="selected" href="/#all">All</a></li>
          </ul><button class="clear-completed">Clear completed</button>
      </footer>
  </section>
</template>

<script>
import './assets/css/index.css'

export default {
  name: 'App',
}
</script>
