<template lang="pug">
section.todoapp

  header.header
    h1 todos

    input.new-todo(placeholder="What needs to be done?" autofocus)

  section.main
    input#toggle-all.toggle-all(type="checkbox" :checked="true")
    label(for="toggle-all")

    ul.todo-list
      li.completed
        .view
          input.toggle(type="checkbox" checked)
          label 可以新增待辦事項
          button.destroy

      li.editing
        .view
          input.toggle(type="checkbox")
          label 可以編輯待辦事項
          button.destroy
        input.edit(value="編輯中...")

  footer.footer
    span.todo-count
      strong 1
      span &nbsp; item left

    ul.filters
      li
        a.selected(href="/#all") All

    button.clear-completed Clear completed
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import './assets/css/index.css'

export default defineComponent({
  name: 'App',
})
</script>
